# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
tp1/.idea/.name
tp1/.idea/compiler.xml
tp1/.idea/jarRepositories.xml
tp1/gradle/wrapper/gradle-wrapper.properties
tp1/.idea/gradle.xml
tp1/gradlew.bat
tp1/.idea/gradle.xml
tp1/.idea/misc.xml
tp1/gradlew
tp1/.idea/gradle.xml
tp1/.idea/misc.xml
tp1/.idea/gradle.xml
tp1/.idea/misc.xml
tp1/.idea/gradle.xml
tp1/.idea/misc.xml
